<div class="teaching">
  Winter 2026 - Stanford University, <a href="https://web.stanford.edu/class/cs246/">CS246: Mining Massive Data Sets</a><br>
  Fall 2025, Fall 2024 - Stanford University, <a href="https://web.stanford.edu/class/cs224w/">CS224W: Machine Learning with Graphs</a>
</div>
